.dashboard{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    padding-right: 0.8rem;
}
.dashboardMenu{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    gap: 1rem;
    width: 20%;
    min-width: 20vw;
    min-height: calc(var(--minHeight)/1.05);
    background-color: var(--colorDarkBlue);
    padding-block: 3rem ;
    padding-inline: 1.75rem;
    border-radius: 0 .5rem .5rem 0;

}
.Dialog{
    display: flex;
    flex-direction:column;
    width:78%;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    background-color: var(--colorLightBlue);
    align-items: center;
    justify-content:center;
    gap: 1.5rem;
}
.paymentDialog{
padding-block: 2rem;
display: flex;
flex-direction: row;

}
.buttonDashboard{    
    padding: 0.1rem;
    cursor: pointer;
    width: 140%;
    font-size: calc(var(--fontSize)/1.5);
    border: var(--border);
    color: var(--colorWhite);
    border-radius: var(--borderRadius);
    background-color: var(--colorLightGreen);
    cursor: pointer;
}