.page{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorWhite);
}
.Dialog{
    position: absolute;
    margin: -6vh;
    width: 72vw;
    height: 99vh;
    background-color: var(--colorLightBlue);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction:column;
    align-items: center;
    transform: translate(-35%, -25%);

}
th{
    color: white;
}
.cur{
    cursor: pointer;
}



/* DashBoard */
.DashBoard{
    background-color: #1e262b !important;
    border-radius: 30px;
}

.button {
    font-size: 14px;
    border-radius: 6px;
    color: white;
    background-color: #1e262b;
    margin: 5px;
  }