.page{
    min-height: 70vh;
    width: 100%;
    color: var(--colorWhite);
}

.Dialog{
  width: 74vw;
}

.Dialog table{
    background-color: #1e262b !important;
    border-radius: 30px;
}
th{
    color: white;
}
.cur{
    cursor: pointer;
}



/* DashBoard */
.DashBoard{
    background-color: #1e262b !important;
    border-radius: 30px;
    text-align: center;
    @media (min-width: 640px) { 
        text-align: left;
    }
}

.CustomButton {
    padding: 10px;
    width: 15vw;
    font-size: 14px;
    border-radius: 20px;
    color: white;
    background-color: #1e262b;
    margin: 5vh;
  }

  .pageHeading{
    text-align: center;
    font-size: 30px;
  }