.page{
    min-height: 70vh;
    width: 100%;
    color: var(--colorWhite);
}

.Dialog{
  max-width: 100vw;
  overflow-x: auto;

}

.Dialog table{
    margin-right: 8px;
    background-color: #1e262b !important;
    border-radius: 30px;
}
th{
    color: white;
}
.cur{
    cursor: pointer;
}



/* DashBoard */
.DashBoard{
    
    
    background-color: #1e262b !important;
   
    text-align: center;
    @media (min-width: 768px) { 
        min-height: 150vh;
        text-align: left;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    @media (max-width: 768px) { 
        min-height: 68vh;
    }
}

.text-align{
    text-align: center;
    @media (min-width: 768px) { 
        text-align: left;
    }
}

.UserName{
    width: 92%;
}

.CustomButton {
    padding: 10px;
    width: 15vw;
    font-size: 14px;
    border-radius: 20px;
    color: white;
    background-color: #1e262b;
    margin: 5vh;
  }

  .pageHeading{
    text-align: center;
    font-size: 30px;
  }

  .paymentForm{
    background-color: #1e262b ;
    color: white;
    border-radius: 25px;
  }

  .CustomButtonPayBill{
    padding: 10px;
    width: 20vw;
    font-size: 14px;
    border-radius: 20px;
    color: #fff !important;
    background-color: #111827 !important;
    margin: 5vh;
  }

  